<header>
  <div>
    <ul>
      <li><%= header.ai%></li>
      <li><%= header.blog%></li>
      <li><%= header.title%></li>
      <li><%= header.contact%></li>
      <li><%= footer.logo_font%></li>
    </ul>
  </div>
</header>
